<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRC Memory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="{{ 'dark-mode' if dark_mode else '' }}">
    <div class="switch-container">
        <label class="switch">
            <input type="checkbox" id="darkModeSwitch" {{ 'checked' if dark_mode else '' }}>
            <span class="slider round"></span>
        </label>
    </div>

    <div class="main-container">
        <div class="sidebar"></div>
            <h2>Regional Specific</h2>
            <label><input type="checkbox" id="regional" {% if regional %}checked{% endif %}> Regional Teams</label><br>
            <label><input type="checkbox" id="alaska" {% if regional %}checked{% endif %}> Alaska Teams</label><br>
            <label><input type="checkbox" id="arkansas" {% if regional %}checked{% endif %}> Arkansas Teams</label><br>
            <label><input type="checkbox" id="regional" {% if regional %}checked{% endif %}> Arizona Teams</label><br>
            <label><input type="checkbox" id="regional" {% if regional %}checked{% endif %}> Regional Teams</label><br>
            <label><input type="checkbox" id="regional" {% if regional %}checked{% endif %}> Regional Teams</label><br>
            <label><input type="checkbox" id="regional" {% if regional %}checked{% endif %}> Regional Teams</label><br>
            <h2>District Specific</h2>
            <label><input type="checkbox" id="district" {% if selected_regions %}checked{% endif %}> District Teams</label><br>
            <label><input type="checkbox" id="chsTeams" {% if 'chsTeams' in selected_regions %}checked{% endif %}> FIRST Chesapeake</label><br>
            <label><input type="checkbox" id="fimTeams" {% if 'fimTeams' in selected_regions %}checked{% endif %}> FIRST In Michigan</label><br>
            <label><input type="checkbox" id="fitTeams " {% if 'fitTeams' in selected_regions %}checked{% endif %}> FIRST In Texas</label><br>
            <label><input type="checkbox" id="finTeams" {% if 'finTeams' in selected_regions %}checked{% endif %}> FIRST Indiana Robotics</label><br>
            <label><input type="checkbox" id="isrTeams" {% if 'isrTeams' in selected_regions %}checked{% endif %}> FIRST Israel</label><br>
            <label><input type="checkbox" id="fmaTeams" {% if 'fmaTeams' in selected_regions %}checked{% endif %}> FIRST Mid-Atlantic</label><br>
            <label><input type="checkbox" id="fncTeams" {% if 'fncTeams' in selected_regions %}checked{% endif %}> FIRST North Carolina</label><br>
            <label><input type="checkbox" id="fscTeams"{% if 'fscTeams' in selected_regions %}checked{% endif %}> <s>FIRST South Carolina</s></label><br>
            <label><input type="checkbox" id="neTeams" {% if 'neTeams' in selected_regions %}checked{% endif %}> New England</label><br>
            <label><input type="checkbox" id="ontTeams" {% if 'ontTeams' in selected_regions %}checked{% endif %}> Ontario</label><br>
            <label><input type="checkbox" id="pnwTeams" {% if 'pnwTeams' in selected_regions %}checked{% endif %}> Pacific Northwest</label><br>
            <label><input type="checkbox" id="pchTeams" {% if 'pchTeams' in selected_regions %}checked{% endif %}> Peachtree</label><br>
        </div>


        <div class="form-container" id="first-page">
            <h1 class="team-name" id="team-name">{{team}}</h1>
            <h3 class="team-location" id="team-location">{{city}}, {{state}}</h2>
            <div class="centered-content">
                <input type="text" id="team-input" placeholder="12345" maxlength="5" pattern=".{0,5}">
                <button type="submit" id="submit-button">Submit</button>
                <button id='reload' onclick="reloadPage()">Refresh Teams</button>
            </div>
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>